.filter-nav-link {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  letter-spacing: 3px;
  transform: rotate(-90deg);
}

a {
  text-decoration: none;
  font-weight: var(--fw-primary);
  color: var(--clr-content-passive);
}
