.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.form {
  margin: 0;
  height: 70%;
  display: flex;
  flex-direction: column;
  border: none;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  border: none;
  font-weight: var(--fw-primary);
  font-size: 1.5rem;
  padding-top: 2rem;
  text-transform: uppercase;
}

#entertask {
  display: block;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#entertask::placeholder {
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary);
  color: var(--clr-text-primary);
  opacity: 0.2;
}

fieldset {
  border-style: none;
}
