<form class="container">
  <label class="entertask" for="description"
    >DESCRIPTION
    <input type="text" placeholder="Enter Task" id="entertask" />
  </label>

  <fieldset>
    <legend>WHEN</legend>
    <input type="radio" id="radio" />
    <label for="today">Today</label>
    <input type="radio" id="radio" />
    <label for="tommorrow">Tommorrow</label>
    <input type="radio" id="radio" />
    <label for="selectdate">Select Date</label>
  </fieldset>

  <button class="submit-btn" type="submit">Add Task</button>
</form>
