<div class="outerwrapper">
  <form class="form">
    <div class="wrapper">
      <label class="entertask" for="description"
        >DESCRIPTION
        <input class="enter" placeholder="Enter Task" id="entertask" />
      </label>

      <fieldset class="when">
        <legend>WHEN</legend>
        <input type="radio" id="radio" />
        <label for="today">Today</label>
        <input type="radio" id="radio" />
        <label for="tommorrow">Tommorrow</label>
        <input type="radio" id="radio" />
        <label for="selectdate">Select Date</label>
      </fieldset>
    </div>
    <button class="submit-b" type="submit">Add Task</button>
  </form>
</div>
