<section>
  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" />
    <span class="taskItem__labelText">Book appointment with Jared</span></label
  >

  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" />
    <span class="taskItem__labelText"
      >Upload today shot on Dribbble</span
    ></label
  >

  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" />
    <span class="taskItem__labelText"
      >Complete the Elephant Illustration</span
    ></label
  >

  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" />
    <span class="taskItem__labelText"
      >Buy Cake for Clair's Birthday</span
    ></label
  >

  <label class="taskItem">
    <input class="taskItem__checkbox" type="checkbox" name="tasks" />
    <span class="taskItem__labelText"
      >Attend UX Conference with Jared</span
    ></label
  >
</section>
