<section class="tasklist">
  <input type="checkbox" id="firstTask" value="task" />
  <label for="task">Book appointment with Jared</label>

  <input type="checkbox" id="secondTask" value="task" />
  <label for="task">Upload today shot on Dribble</label>

  <input type="checkbox" id="thirdTask" value="task" />
  <label for="task">Complete the Elephant Illustration</label>

  <input type="checkbox" id="fourthTask" value="task" />
  <label for="task">Buy Cake for Clair's Birthday</label>

  <input type="checkbox" id="fifthTask" value="task" />
  <label for="task">Attend UX Conference with Jared</label>
</section>
