<div class="tasklist">
  <input type="checkbox" id="item1" value="task" />
  <label for="item1">Book appointment with Jared</label>
  <input type="checkbox" id="item2" value="task" />
  <label for="item2">Upload today shot on Dribble</label>
  <input type="checkbox" id="item3" value="task" />
  <label for="item3">Complete the Elephant Illustration</label>
  <input type="checkbox" id="item4" value="task" />
  <label for="item4">Buy Cake for Clair's Birthday</label>
  <input type="checkbox" id="item5" value="task" />
  <label for="item5">Attend UX Conference with Jared</label>
</div>
